.hide{
    display: none;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.disable{
    pointer-events: none;
}
#question-container, #controls{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}
#question{
    padding: 50px;
}
#answer-buttons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
#answer-buttons button {
    margin: 10px; 
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: black; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1; 
    max-width: calc(50% - 20px); 
}
  
#answer-buttons button:hover {
    background-color: cadetblue; 
}
body{
    background-image: url("img/escenario_rickymorty1.jpg");
}

#start-btn{
    width: 100px;
}
#hide-result{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}
