.hide{
    display: none;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.disable{
    pointer-events: none;
}
#question-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}
#controls{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    width: 800px;
    height: 300px;
}
#question{
    padding: 50px;
}
#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  }
  
#answer-buttons button {
    margin: 2px; 
    padding: 15px 20px;
    font-size: 35px;
    border: none;
    border-radius: 8px;
    color: black; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1; 
    width: 500px;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
#answer-buttons button:hover {
    background-color: cadetblue; 
}
body{
    background-image: url("img/escenario_rickymorty1.jpg");
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

#start-btn{
    width: 100px;
}
#hide-result{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    width: 800px;
    height: 300px;
}
.rick_morty{
    width: 500px;
    padding: 20px;
}
#audio{
    display: none
}
#music{
    display: none
}
#username{
    border-color: black;
}
